.content-events{
    overflow: hidden;
}


.renderdiv {
    background-image: linear-gradient(to right top, #ee3e3e, #c32e31, #992024, #711218, #4c0508);
    color: white;
    border-radius: 10px;
}
.renderH {
    padding-top: 10px;
   padding-left: 10px;
    font-size: 20px;
}
.renderloc{
   padding-left: 10px;
}
.renderaddress{
   padding-left: 10px;

}
.renderdatefull {
   padding-left: 10px;
   padding-bottom: 10px;
}
