@import 'animation.css';
@import 'members.css';
@import 'nav.css';
@import 'events.css';
@import 'admin.css';

body {
    height: 100px;
    margin: 0;
    padding: 0; 
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    align-items: center;
    
  }